annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///D:/bld/cffi_1725560649097/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///D:/bld/contourpy_1725378323525/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
fonttools @ file:///D:/bld/fonttools_1725391368678/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1725543257300/work
groq @ file:///home/conda/feedstock_root/build_artifacts/groq_1725689180468/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
huggingface_hub==0.25.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
jiter @ file:///D:/bld/jiter_1725346850622/work
kiwisolver @ file:///D:/bld/kiwisolver_1725459382062/work
matplotlib==3.9.2
munkres==1.1.4
numpy @ file:///D:/bld/numpy_1725411924103/work/dist/numpy-2.1.1-cp310-cp310-win_amd64.whl#sha256=07fc83bf2c7860dfae7fe2b4a2b8d0dfae43c4d3600390ff6299be05daeeee86
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1726634331025/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///D:/bld/pandas_1715897730709/work
pillow @ file:///D:/bld/pillow_1726075253811/work
pyarrow==17.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1726601062926/work
pydantic_core @ file:///D:/bld/pydantic-core_1726525117142/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
PySide6==6.7.2
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
pywin32==306
PyYAML @ file:///D:/bld/pyyaml_1725456311802/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
shiboken6==6.7.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
tornado @ file:///D:/bld/tornado_1724956183921/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
unicodedata2 @ file:///D:/bld/unicodedata2_1695848155043/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zstandard==0.23.0
